<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.googlemail.com"
                 port="587"
                 enableSsl="true"
                 userName="you@googlemail.com"
                 password="your-pass" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>